mixin cash-terms(type, mods)
  -
    const baseName = 'cash-terms'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }
  case type
    when 'years'
      .cash-terms.cash-terms--new-year(class=allMods)&attributes(attributes)
        .cash-terms__icon
          img(src='img/svgs/cash_terms_icon.svg', alt='')
        .cash-terms__text
          span А также начислим <span class="cash-terms__text-bold">5% кэшбэк за все покупки</span>
            +ui-tooltip('text')
            br
          span по карте «Универсальная» за указанный период
        +ui-button('Подробнее', 'cash-terms')(href='#')
        block
    default   
      .cash-terms(class=allMods)&attributes(attributes)
        .cash-terms__icon
          img(src='img/svgs/cash_terms_icon.svg', alt='')
        .cash-terms__title Мы отменили для вас комиссию за&nbsp;снятие наличных в&nbsp;любых банкоматах без&nbsp;ограничения по&nbsp;сумме
        .cash-terms__text Со дня получения sms <br>до&nbsp;31&nbsp;января 2023&nbsp;года
        +ui-button('Полные условия акции',  'cash-terms, --link-next')(href='#')
        block
