mixin kk-terms(mods)
  -
    const baseName = 'kk-terms'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .kk-terms(class=allMods)&attributes(attributes)
    .kk-terms__icon
      img(src='img/svgs/cash_terms_icon.svg', alt='')
    .kk-terms__text
      span А также начислим <span class="kk-terms__text-bold">5% кэшбэк за все покупки</span>
      +ui-tooltip('text')
      br
      span по карте «Универсальная» за указанный период
    +ui-button('Подробнее', 'kk-terms')(href='#')
