.kk-terms {
  padding: 25px 20px 30px;
  text-align: center;
  background: linear-gradient(90deg, $grey20 0%, #edf3f7 100%);
  border-radius: 8px;
  &__icon {
    width: 56px;
    height: 56px;
    margin: 0 auto 20px;
  }
  &__text {

    font: 18px/1.33 $font;
    &-bold {
      font-weight: 700;
    }
  }
  &__tooltip {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #838383;
    border-radius: 50%;
    color: #838383;
    background: #fff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  &__ui-button {
    margin-top: 25px;
    font-size: 14px;
    text-transform: uppercase;
  }
}
