mixin kk-banner(mods)
  -
    const baseName = 'kk-banner'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .kk-banner(class=allMods)&attributes(attributes)
    .inner
      .kk-banner__img
        img(src='img/kk-12-banner.png', alt='')
        .k-banner__bg
      .kk-banner__h1 Встречайте новый год с выгодой
      .kk-banner__p1 Отменили для вас комиссию за снятие наличных по вашей карте «Универсальная» без ограничений по сумме
      .kk-banner__label-wrapper
        .kk-banner__label с 1 по 31 января 2024 года
    block

