footer.footer
  .inner
    if pageType !== 'cash-withdrawal'
      .footer__descr
        p 675000, Амурская область, г. Благовещенск, ул. Амурская, 225
        p Универсальная лицензия ЦБ РФ №1810 на осуществление банковских операций.
    .footer__line
      .footer__copyright © Азиатско-Тихоокеанский Банк (АО), 2007 - 2022
      .footer__made Сделано в
        =' '
        a(href='http://dterra.eu/' target='_blank') D'Terra
