extends layouts/layout

block variables
  -const pageTitle ='Index'

block content
  main
    .inner(style='padding-top: 150px;')
      +ui-h2('Index')
      br
      br
      a(href='univ-card.html') Кредитная карта «Универсальная»
      br
      br
      a(href='cash-withdrawal.html') Акция КК Снятие наличных
      br
      br
      a(href='rabbit-promo.html') Акция «100% кэшбэк от Кролика АТБ»
      br
      br
      a(href='promotion-kk-12.html') Акция КК 12 мес.
      br
      br
      a(href='180-days.html') Кредитная карта «180 дней без %»
