extends layouts/layout

block variables
  -const pageTitle ='Акция КК 12 мес.'
  -const pageType = 'new-year-profit'
  -const hideHeaderMenu = true

block content
  main.main.main--pb
    +new-year-profit-banner
    +section
      .inner
        +new-year-profit-terms
