extends layouts/layout

block variables
  -const pageTitle ='Акция КК 12 мес.'
  -const pageType = 'new-year-profit'
  -const hideHeaderMenu = true

block content
  main.main.main--pb
    +cash-banner('years')
    +section
      .inner
        +cash-terms('years')
