extends layouts/layout

block variables
  -const pageTitle ='Акция КК Снятие наличных'
  -const pageType = 'cash-withdrawal'
  -const hideHeaderMenu = true

block content
  main.main.main--pb
    +kk-banner
    +section
      .inner
        +kk-terms
