extends layouts/layout

block variables
  -const pageTitle ='Акция КК 12 мес.'
  -const pageType = 'promotion-kk-12'
  -const hideHeaderMenu = true

block content
  main.main.main--pb
    +kk-banner
    +section
      .inner
        +kk-terms
