*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  box-sizing: border-box;
  line-height: 1;
  scroll-behavior: smooth;
  &.no-scroll {
    position: relative;
    overflow: hidden;
    body {
      position: relative;
      overflow: hidden;
    }
  }
  &.with-fancybox {
    @include media-tablet {
      overflow: hidden;
    }
    body {
      @include media-tablet {
        overflow: hidden;
      }
    }
  }
}
body {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  transition: ease 0.3s;
  &:hover {
    text-decoration: underline;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
span,
ul,
li,
tr,
td,
th,
table,
blockquote {
  margin: 0;
  padding: 0;
}
ol {
  margin: 0;
}
p {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

// defaults
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  font-family: $font;
  color: $black;
}
.inner {
  width: 100%;
  max-width: 1250px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
  @include media-tablet {
    padding: 0 10px;
  }
  &--big {
    max-width: 1920px;
    padding: 0 40px;
    @include media-laptop {
      padding: 0 15px;
    }
    @include media-tablet {
      padding: 0 10px;
    }
  }
}
main {
  flex: 1 0;
}
.main.main--pb {
  padding-bottom: 60px;
}
.text {
  &-nowrap {
    white-space: nowrap;
  }
  &-center {
    text-align: center;
  }
  &-orange {
    color: $orange;
  }
  &-grey60 {
    color: $grey60;
  }
  &-grey80 {
    color: $grey80;
  }
  &-grey90 {
    color: $grey90;
  }
  &-red {
    color: $error;
  }
  &-light-green {
    color: $lightGreen;
  }
  &-underline {
    text-decoration: underline;
  }
}
